<?xml version="1.0" encoding="UTF-8"?>
<!-- PHPUnit configuration for Kodhe Framework -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         bootstrap="Bootstrap.php"
         colors="true"
         verbose="true"
         testdox="true"
         failOnWarning="true"
         failOnRisky="true"
         stopOnFailure="false">
    
    <testsuites>
        <testsuite name="Unit">
            <directory>Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>Integration</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>Feature</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">../Framework</directory>
            <directory suffix=".php">../Library</directory>
        </include>
        <exclude>
            <directory suffix=".php">../Framework/Support/Legacy</directory>
        </exclude>
        <report>
            <html outputDirectory="coverage/html"/>
            <clover outputFile="coverage/clover.xml"/>
            <text outputFile="php://stdout" showUncoveredFiles="false" showOnlySummary="true"/>
        </report>
    </coverage>

    <logging>
        <junit outputFile="coverage/junit.xml"/>
    </logging>

    <php>
        <ini name="display_errors" value="On"/>
        <ini name="error_reporting" value="-1"/>
        <const name="ENVIRONMENT" value="testing"/>
    </php>
</phpunit>
